@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

body > #root > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

